<div class="container">
    <div *ngIf="loading === true" class="flex justify-center items-center h-full h-screen overflow-auto">
        <div class="animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-azul"></div>
    </div>
    <div *ngIf="ranking.length > 0">
        <div class="p-6 bg-white rounded shadow flex justify-start items-center">
            <div class="mx-2">
                <img src="assets/logos/{{ranking[0]?.marca}}.png" alt="Logomarca"
                    onerror="this.onerror=null; this.src='assets/logos/NO_IMAGE.png'" />
            </div>
            <div class="mx-2">
                <h1 class="lg:text-5xl md:text-3xl sm:text-2xl font-semibold text-gray-400">{{ranking[0]?.marca}} </h1>
            </div>
            <div class="mx-2">
                <h1 class="lg:text-8xl md:text-5xl sm:text-5xl font-bold"> {{ranking[0]?.modelo}}</h1>
            </div>
        </div>
        <h4 class="mt-2 text-2xl font-bold text-gray-700">Emplacamentos por mês e quantidade</h4>
        <div class="bg-white p-4 mt-2 rounded-md shadow-md">
            <app-line-chart [data]="dataGraficoRankingQuantidade" [titulo]="'Quantidade'"></app-line-chart>
        </div>
        <h4 class="mt-2 text-2xl font-bold text-gray-700">Emplacamentos por mês e posição</h4>
        <div class="bg-white p-4 mt-2 rounded-md shadow-md">
            <app-line-chart [data]="dataGraficoRankingPosicao" [titulo]="'Posição'"></app-line-chart>
        </div>
        <div class="text-xs text-gray-600 mt-4">
            <span>Fonte: <a class="text-blue-600 dark:text-blue-500 hover:underline"
                    href="https://www.fenabrave.org.br/" target="_blank">FENABRAVE</a>, Metodologia: Somatória
                dos veículos que fizeram parte do ranking mensal dos emplacamentos a partir do ano de 2003.</span>
        </div>
        <div class="flex justify-end mt-4 ">
            <button class="bg-azul hover:bg-blue-900 text-white font-bold p-2 rounded" type="button"
                (click)="voltar()">Voltar</button>
        </div>

    </div>
</div>