<div class="container">

    <div *ngIf="loading" class="flex justify-center items-center h-full h-screen overflow-auto">
        <div class="animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-azul"></div>
    </div>
    <div *ngIf="!loading">
        <div class="mt-4">
            <h2 class="mt-2 text-2xl font-bold text-gray-700">Ranking de emplacamentos por Seguimento
            </h2>
        </div>
        <div class="grid mt-2 gap-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">

            <a *ngFor="let tipo of tipos" class="p-4 bg-white  rounded-md shadow-md"
                [routerLink]="['/mais_emplacados', tipo.chave]">
                <div class="flex justify-start items-center">
                    <h3 class="font-semibold text-gray-600">{{tipo.nome}}</h3>
                </div>
            </a>
        </div>


        <div class="mt-4">
            <h4 class="mt-2 text-2xl font-bold text-gray-700">10 Automóveis mais emplacados desde 2003
            </h4>

            <span class="text-xs text-gray-600">Dica: Clique no carro para ver detalhes.</span>

        </div>

        <div *ngIf="dezMaisEmplacadosAuto" class="grid mt-2 gap-2 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2">
            <div class="grid mt-2 gap-2 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-3">

                <a *ngFor="let item of dezMaisEmplacadosAuto" class="p-2 bg-white  rounded-md shadow-md"
                    [routerLink]="['/carro', item.modelo, item.subseguimento]">
                    <div>
                        <span class="text-xs font-semibold text-gray-400">{{item.modelo}}</span>
                    </div>
                    <div class="flex justify-start items-center">
                        <img src="assets/logos/{{item.marca}}.png" alt="Logomarca" class="h-7 w-7 mr-2">
                        <h1 class="text-xs font-bold">{{item.quantidade | number}}</h1>
                    </div>
                </a>
            </div>
            <div *ngIf="dataChartEmplacadosAuto" class="bg-white mt-2 p-4 rounded-md shadow-md">
                <app-bar-chart [data]="dataChartEmplacadosAuto" [titulo]="'Emplacados'"></app-bar-chart>
            </div>
        </div>

        <div class="mt-4">
            <h4 class="mt-2 text-2xl font-bold text-gray-700">10 Comerciais Leves mais emplacados desde 2003
            </h4>
        </div>
        <div *ngIf="dezMaisEmplacadosComerciais" class="grid mt-2 gap-2 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2">
            <div class="grid mt-2 gap-2 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-3">
                <a *ngFor="let item of dezMaisEmplacadosComerciais"
                    [routerLink]="['/carro', item.modelo, item.subseguimento]"
                    class="p-2 bg-white  rounded-md shadow-md">
                    <div>
                        <span class="text-xs font-semibold text-gray-400">{{item.modelo}}</span>
                    </div>
                    <div class="flex justify-start items-center">
                        <img src="assets/logos/{{item.marca}}.png" alt="Logomarca" class="h-7 w-7 mr-2">
                        <h1 class="text-xs font-bold">{{item.quantidade | number}}</h1>
                    </div>
                </a>
            </div>
            <div *ngIf="dataChartEmplacadosComerciais" class="bg-white mt-2 p-4 rounded-md shadow-md">
                <app-bar-chart [data]="dataChartEmplacadosComerciais" [titulo]="'Emplacados'"></app-bar-chart>
            </div>
        </div>
        <div class="mt-4">
            <h4 class="mt-2 text-2xl font-bold text-gray-700">Emplacamentos Por Ano
            </h4>
        </div>
        <div *ngIf="dataChartEmplacamentosAno" class="bg-white p-4 mt-2 rounded-md shadow-md">
            <app-bar-chart [data]="dataChartEmplacamentosAno" [titulo]="'Emplacamentos'"></app-bar-chart>
        </div>
        <div *ngIf="emplacamentosPorAno" class="grid gap-2 mt-4 md:grid-cols-3 lg:grid-cols-5">
            <a *ngFor="let item of emplacamentosPorAno">
                <div class="p-2 bg-white text-center rounded-md shadow-md">
                    <div class='flex justify-start items-center'>
                        <span class="text-sm font-bold text-gray-400">{{item.ano}}</span>
                    </div>
                    <div class='flex justify-start items-center'>
                        <span class="text-sm font-bold text-black mr-2">{{item.quantidade | number}}</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="text-xs text-gray-600 mt-4">
            <span>Fonte: <a class="text-blue-600 dark:text-blue-500 hover:underline"
                    href="https://www.fenabrave.org.br/" target="_blank">FENABRAVE</a>, Metodologia: Somatória
                dos veículos que fizeram parte do ranking mensal dos emplacamentos a partir do ano de 2003.</span>
        </div>

    </div>